@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: darkgray;
}

.wrapper {
  padding: 25px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContent {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 45vh;
}

.mainContent h1 {
  font-size: 2.7em;
  font-weight: bold;
  margin-bottom: 22px;
}

.mainContent h1,
.mainContent p {
  text-align: center;
}
