@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #fff;
  --background-color: #66416e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

.wrapper {
  padding: 25px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

.topBar a {
  text-decoration: none;
  color: var(--primary-color);
}

.mainContent {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 45vh;
  color: var(--primary-color);
}

.mainContent h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 22px;
}

.mainContent p {
  font-size: 16px;
}

.mainContent h1,
.mainContent p {
  text-align: center;
}

#startQuiz {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
  width: 25%;
  align-self: center; /* Center-align the button within mainContent */
}
