/* Importing Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Setting custom color variables for primary and background colors */
:root {
  --primary-color: #fff;
  --background-color: #66416e;
}

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the overall body with the Roboto font and background color */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

/* First Phase of the Website */

/* Adding padding to the wrapper element */
.wrapper {
  padding: 25px;
}

/* Styling the top bar with flex properties and custom color */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

/* Styling anchor elements within the top bar */
.topBar a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Styling the main content with flex properties, custom color, and max-width */
.mainContent {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 45vh;
  color: var(--primary-color);
}

/* Styling the main content heading with font size, weight, and margin */
.mainContent h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 22px;
}

/* Styling paragraphs within the main content with font size */
.mainContent p {
  font-size: 16px;
}

/* Center-aligning heading and paragraphs within the main content */
.mainContent h1,
.mainContent p {
  text-align: center;
}

/* Styling the startQuiz button with margin, padding, border, border-radius, color, and cursor */
#startQuiz {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
  width: 25%;
  align-self: center; /* Center-align the button within mainContent */
}

/* Second Phase of the Website */

/* 
.mainContent {
  display: none;
} */

/* Adjusting the center alignment for the second phase */
.seccondPhase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 50vh;
  color: var(--primary-color);
}

.seccondPhase h2 {
  text-align: center;
  font-size: 2em;
}

/* Removing the list style for the second phase */
.answerButtons {
  position: relative;
  margin-top: 1.8em;
  list-style-type: none;
  left: -10%;
  width: 110px;
}

.answerButtons button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
  margin: 6px;
}

.seccondPhase {
  display: none;
}

/* Third Phase of the Website */

.thirdPhase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  color: var(--primary-color);
}

.thirdPhase h2 {
  text-align: center;
  font-size: 2.5em;
}

.thirdPhase p {
  font-size: 16px;
  margin-top: 15px;
}

/* Styling the submitInitials button */
#submitInitials {
  padding: 6px; /* Reduced padding */
  border: none;
  border-radius: 4px; /* Reduced border-radius */
  background-color: #2196f3;
  color: var(--primary-color);
  font-size: 12px; /* Reduced font size */
  cursor: pointer;
  width: 80px; /* Reduced width */
  height: 24px; /* Reduced height */
  margin: auto; /* Center-align the button within its parent container */
}

.thirdPhase {
  display: none;
}
